@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .h-screen-w-header {
    height: calc(100vh - var(--header-height-mobile));

    @media (min-width: 45em) {
      height: calc(100vh - var(--header-height-desktop));
    }
  }

  .top-header {
    top: var(--header-height-mobile);

    @media (min-width: 45em) {
      top: var(--header-height-desktop);
    }
  }

  .max-h-screen-w-header {
    max-height: calc(100vh - var(--header-height-mobile));

    @media (min-width: 45em) {
      max-height: calc(100vh - var(--header-height-desktop));
    }
  }

  .min-h-screen-w-header {
    min-height: calc(100vh - var(--header-height-mobile));

    @media (min-width: 45em) {
      min-height: calc(100vh - var(--header-height-desktop));
    }
  }

  .icon-2xs {
    font-size: 10px;
  }

  .icon-xs {
    font-size: 12px;
  }

  .icon-sm {
    font-size: 16px;
  }

  .icon-md {
    font-size: 20px;
  }

  .icon-lg {
    font-size: 24px;
  }

  .icon-xl {
    font-size: 32px;
  }


  .hide-bar::-webkit-scrollbar {
    display: none;
    width: 0px;
  }
}